# {{ ansible_managed }}

[Unit]
Description=Sir-bot-a-lot

[Service]
ExecStart=/usr/share/python/sirbot/bin/python3.5 /home/sirbot/run.py
Type=simple
User=sirbot
Restart=always
RestartSec=1

Environment=SIRBOT_TOKEN={{ sirbot_token }}
Environment=BOT_NAME={{ sirbot_name }}
Environment=BOT_ID={{ sirbot_id }}
Environment=PORT={{ port }}

[Install]
WantedBy=multi-user.target

