# {{ ansible_managed }}

[Unit]
Description=Sir-bot-a-lot

[Service]
ExecStart=/home/sirbot/.pyvenv/bin/sirbot -c /home/sirbot/sirbot-plugin-pythondev/sirbot.yml
Type=simple
User=sirbot
Restart=always
RestartSec=1

Environment=SIRBOT_SLACK_BOT_TOKEN={{ SIRBOT_SLACK_BOT_TOKEN }}
Environment=SIRBOT_SLACK_TOKEN={{ SIRBOT_SLACK_TOKEN }}
Environment=SIRBOT_SLACK_VERIFICATION_TOKEN={{ SIRBOT_SLACK_VERIFICATION_TOKEN }}
Environment=SIRBOT_PORT={{ sirbot_port }}

[Install]
WantedBy=multi-user.target

