# {{ ansible_managed }}

[Unit]
Description=Sir-bot-a-lot

[Service]
ExecStart=/home/sirbot/.pyvenv/bin/sirbot -c /home/sirbot/sirbot-plugin-pythondev/sirbot.yml
Type=simple
User=sirbot
Restart=always
RestartSec=1

Environment=SIRBOT_SLACK_TOKEN={{ sirbot_token }}
Environment=PORT={{ port }}

[Install]
WantedBy=multi-user.target

