# {{ ansible_managed }}

[Unit]
Description={{ service_name }}
{% if service_requires %}Requires={{ service_requires }}
{% if service_wants %}Wants={{ service_wants }}

[Service]
{% if exec_start_pre %}ExecStartPre={{ exec_start_pre }}
{% endif %}
ExecStart={{ exec_start }}
WorkingDirectory={{ work_dir }}
StandardOutput=syslog
StandardError=syslog
Type=simple
User={{ username }}
Restart=always
RestartSec=1
{% for env in service_environment %}
Environment={{ env }}
{% endfor %}

[Install]
WantedBy=multi-user.target
